@import '~SASS/variables.scss';

.loader-module{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .content-loader{
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      max-height: 30px;
      height: 100%;
      width: auto;
      position: relative;
      display: inline-block;
      margin: 10px;
    }
  }
}