$light-grey: #b7b7b7;
$dark-grey: #9e9e9e;
$grey: #cccccc;

$black: #242424;
$white: #ffffff;

$light-blue: #f2f4fd;
$blue: #3b5aff;

$dark-purple: #5038A6;
$purple: #9401ff;

$green-success: #69d98c;
$dark-green: #4daa40;
$green: #35c221;

$red-error: #fb7b7b;
$red-btn: #ff3b3b;
$red: #ff0000;