@import '~SASS/variables.scss';

.loader-page{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  .shadow{
    background-color: $light-blue;
    opacity: 0.47;
  }
  .content-loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      height: 170px;
      width: auto;
      position: relative;
      display: inline-block;
    }
    .text{
      background: -webkit-linear-gradient(46deg, #3B5AFF, #5D236D);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
      letter-spacing: 1.2px;
      font-size: 0.875em;
      text-align: center;
      position: relative;
      display: inline-block;
    }
  }
}